/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    background-color: #111;
}

body {
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    color: #555;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: #2672CC;
}

img {
    max-width: 100%;
    display: block;
}

/* Header */
header {
    padding: 40px;
    color: #FFF;
    background-color: #004E2D;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
}